body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    position: absolute;
    /* left: 0; */
    top: 0;
    margin:auto 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    opacity: 0.5;

}

h1 {
    color: cornflowerblue;
}

.clicked {
    color: tomato;
}

.hidden{
    display: none;
}