body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

img{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: auto;
    z-index: -2;
    opacity: 0.5;
    /* width: 100vw; */
    height: 100vh;
    display: block;
    justify-content: center;
}

h1 {
    color: cornflowerblue;
}

.clicked {
    color: tomato;
}

.hidden{
    display: none;
}